In [67]:
#Import Library
import pandas as pd
import numpy as np
import math
import sklearn.metrics as metrics
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns

#Load Train and Test datasets
data=pd.read_csv('churn.csv')
data.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [82]:
data2 = data.drop(['Phone'], axis=1)

 
pd.get_dummies(data2, columns=["State"]).head()
pd.get_dummies(data2, columns=["Int'l Plan"]).head()
pd.get_dummies(data2, columns=["VMail Plan"]).head()

data3 = pd.get_dummies(data2, columns=["State", "Int'l Plan", "VMail Plan"], prefix=["State", "Int'l Plan", "VMail Plan"])

data3.head()

,Account Length,Area Code,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,...,State_VA,State_VT,State_WA,State_WI,State_WV,State_WY,Int'l Plan_no,Int'l Plan_yes,VMail Plan_no,VMail Plan_yes
0,128,415,25,265.1,110,45.07,197.4,99,16.78,244.7,...,0,0,0,0,0,0,1,0,0,1
1,107,415,26,161.6,123,27.47,195.5,103,16.62,254.4,...,0,0,0,0,0,0,1,0,0,1
2,137,415,0,243.4,114,41.38,121.2,110,10.30,162.6,...,0,0,0,0,0,0,1,0,1,0
3,84,408,0,299.4,71,50.90,61.9,88,5.26,196.9,...,0,0,0,0,0,0,0,1,1,0
4,75,415,0,166.7,113,28.34,148.3,122,12.61,186.9,...,0,0,0,0,0,0,0,1,1,0

In [70]:
from sklearn.model_selection import train_test_split

In [85]:
x = data3.drop('Churn?',axis=1)
y = data3['Churn?']

In [86]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.30)

# Decision Tree

In [87]:
from sklearn.tree import DecisionTreeClassifier

In [88]:
dtree = DecisionTreeClassifier()

In [89]:
dtree.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [90]:
predictions = dtree.predict(x_test)

In [91]:
from sklearn.metrics import classification_report,confusion_matrix

In [92]:
print(classification_report(y_test,predictions))

             precision    recall  f1-score   support

     False.       0.94      0.94      0.94       843
      True.       0.69      0.69      0.69       157

avg / total       0.90      0.90      0.90      1000

In [93]:
print(confusion_matrix(y_test,predictions))

[[795  48]
 [ 48 109]]

In [97]:
from sklearn.metrics import classification_report,accuracy_score

In [99]:
accuracy_score(y_test,predictions)

0.904

# Random Forest

In [101]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=100)
rfc.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [102]:
rfc_pred = rfc.predict(x_test)

In [103]:
print(confusion_matrix(y_test,rfc_pred))

[[834   9]
 [ 59  98]]

In [104]:
print(classification_report(y_test,rfc_pred))

             precision    recall  f1-score   support

     False.       0.93      0.99      0.96       843
      True.       0.92      0.62      0.74       157

avg / total       0.93      0.93      0.93      1000

In [105]:
accuracy_score(y_test,rfc_pred)

0.932